# Core Packages
asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
filelock==3.12.4
Flask==2.3.3
Jinja2==3.1.2
numpy==1.24.3
pandas==1.5.3
python-dateutil==2.8.2
pytz==2023.3
scipy==1.11.1
Werkzeug==2.3.7

# Data Science and ML Packages
lightgbm==4.3.0
scikit-learn==1.2.2
seaborn==0.12.2
torch==2.2.2
xgboost==2.0.3
alembic>=1.13.1,<=1.13.x
sqlalchemy>=2.0.27,<=2.0.x
tensorflow>=2.13.0,<=2.13.x


# Web Frameworks and Utilities
Django==5.0
django-ckeditor==6.7.0
django-crispy-forms==2.1
django-js-asset==2.2.0
fastapi==0.110.2
uvicorn==0.29.0

# Visualization Packages
matplotlib==3.7.2
pygal==3.0.4

# Miscellaneous Packages
cffi==1.15.1
Pillow==10.0.0

# Others (you can group other packages as needed)
